header {
  background-color: #f5f5f5;
  font-size: 50px;
}
.img {
  margin: 5px;
  width: 300px;
}

.btn {
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
}

.DogImgs {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 300px;
  height: 200px;
}
